repos:

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff-check
        types_or: [ python ]
        args: ["--fix", "--exit-non-zero-on-fix"]
        language_version: python3

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
        args: ["--line-length=79"]